body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

html {
    font-weight: 300
}

ol {
    padding-left: 24px;
    padding-right: 5px;
}

p {
    font-size: 1.2rem;
}

img {
    vertical-align: top;
    width: 100%;
    height: auto !important;
}

iframe {
    border: none;
}

h1 {
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: 5px;
    padding: 0 15px !important;
    overflow-wrap: break-word;
}

h2 {
    font-size: 1.4rem;
    font-weight: 300;
    padding-left: 5px !important;
}

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, {
        color: rgba(0, 0, 0, 0.87);
    }

h3 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 120%;
    margin: 10px 0 !important;
}

h4 {
    font-size: .9rem;
    font-weight: 300;
    line-height: 120%;
    margin: 5px 0;
}

h5 {
    font-size: .8rem;
    font-weight: 300;
    line-height: 120%;
    padding-left: 10px !important;
}

h6 {
    font-size: .8rem;
    font-weight: 300;
    line-height: 120%;
}

a {
    color: #c6342d;
    text-decoration: none;
    font-weight: 700;
}

video[poster] {
    min-width: 100%;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    object-fit: fill;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.no-margin {
    margin: 0px !important;
}

.paddingtop70 {
    padding-top: 70px !important;
}

.marginauto {
    margin: auto !important;
}

.blacktransparente {
    background-color: rgba(0,0,0,0.5);
}

.pos-relativa {
    position: relative !important;
}

.pos-absoluta {
    position: absolute;
}

.bottom0 {
    bottom: 0;
}

.zindex10 {
    z-index: 10;
}

.collection {
    border: 1px solid #ffffff;
}

.divider {
    width: 100%;
    background: #e2e2e2;
}

.black {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-container {
    background: black;
}

.responsive-video {
    margin-top: 7%;
}



.bicentenario {
    background-image: url(../img/lima.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.ico-bicentenario {
    width: 100%;
    display: inline-block;
    float: left;
    margin-right: 15px;
    max-width: 70px;
}

.borderpana {
    border: solid 4px #008cc7;
}

.faltan {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 40px;
}

.olimpiadas {
    font-size: 1.1rem;
    line-height: 20px;
}

.degradeblack {
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0.16) 26%, rgba(0,0,0,0.34) 36%, rgba(0,0,0,0.86) 65%);
    background: -webkit-gradient(left top, left bottom, color-stop(17%, rgba(0,0,0,0)), color-stop(26%, rgba(0,0,0,0.16)), color-stop(36%, rgba(0,0,0,0.34)), color-stop(65%, rgba(0,0,0,0.86)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0.16) 26%, rgba(0,0,0,0.34) 36%, rgba(0,0,0,0.86) 65%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0.16) 26%, rgba(0,0,0,0.34) 36%, rgba(0,0,0,0.86) 65%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 17%, rgba(0,0,0,0.16) 26%, rgba(0,0,0,0.34) 36%, rgba(0,0,0,0.86) 65%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 17%, rgba(0,0,0,0.16) 26%, rgba(0,0,0,0.34) 36%, rgba(0,0,0,0.86) 65%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}




.fotoposicion a {
    margin: auto;
}

.twitter-tweet-rendered {
    width: 100% !important;
}

.descargue {
    z-index: 20;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 100px;
    margin-right: 10px;
}

nav ul a {
    padding: 0 8px;
}

.section {
    padding: 0 !important;
}

.btn-flat {
    padding: 0 1rem;
}

.card-panel {
    padding: 16px 10px;
    margin: .4rem 0;
}

.material-icons {
    font-size: 13px !important;
}

.pagination li a {
    padding: 0 8px;
    font-weight: 400;
}

blockquote {
    font-size: 2rem;
    margin: 40px 0;
}

.btn {
    text-transform: none;
}

.waves-effect.waves-teal .waves-ripple {
    background-color: #820f0f;
}

.container {
    width: 100%;
    max-width: 1024px !important;
}

#sidenav-overlay {
    z-index: 197;
}

#dropdown1 {
    margin-top: 40px;
    width: 175px !important;
}

#dropdown2 {
    width: 100% !important;
    margin-top: 40px !important;
    padding: 15px;
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: #5a5a5a;
}

.dropdown-content li {
    min-height: 0;
    line-height: 0;
}

    .dropdown-content li > a,
    .dropdown-content li > span {
        line-height: 40px;
        padding: 2px 12px;
    }

        .dropdown-content li > a > i {
            margin: 0 14px 0 0;
        }

.rightwidth {
    width: auto !important;
}

.collection.with-header .collection-header {
    padding: 0 0 15px 0;
}

.divider1 {
    height: 1px;
    width: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
}

.background {
    background: url("../img/background.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* ///////// Nuevos codigos ///////// */
.side-nav.right-aligned {
    right: auto;
}

.video-container-facebook {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
}

    .video-container-facebook iframe, .video-container-facebook object, .video-container-facebook embed {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

.video-container-andina {
    position: relative;
    padding-bottom: 58%;
    height: 0;
    overflow: hidden;
}

    .video-container-andina iframe, .video-container-andina object, .video-container-andina embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.iframecenter {
    margin: auto;
    right: 0;
}

.cajatitular {
    position: relative;
}

.titular {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.titular-zindex {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    color: white;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 25px;
    background: rgba(0, 0, 0, 0.57);
}

.titularh1 {
    font-size: 2.1rem !important;
    margin-bottom: 10px;
}

.convewidth {
    width: 10% !important;
    margin: auto !important;
}

.titularessecciones {
    font-size: 2rem;
    width: 100%;
    text-align: left;
    display: inline-block;
    /* padding: 5px; */
    padding-bottom: 10px;
    font-weight: 300;
    color: #919191;
}

.titularesonline {
    font-size: 2rem;
    text-align: left;
    display: inline-block;
    padding: 5px 15px;
    font-weight: 400;
    color: #919191;
}

.navicon {
    background: rgba(0, 0, 0, 0.23);
    height: 24px !important;
    width: 24px;
    line-height: 18px !important;
    /* border-radius: 100%; */
    margin: 5px 2px;
    padding: 0px 3px !important;
    font-size: 1.4rem !important;
}

.margin5 {
    margin: 5px !important;
}

.iconoup:before {
    font-family: FontAwesome;
    content: "\f03d";
    position: absolute;
    top: 27%;
    left: 95%;
    margin-top: -25px;
    margin-left: -25px;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    color: #00000082;
    background: rgb(255, 255, 255);
    padding: 3px 5px;
    border-radius: 4px;
}

.iconredes {
    padding: 0 2px;
    border: solid 1px #ccc !important;
    border-radius: 3px;
    color: #828282;
}

.border {
    border: solid 1px #ccc;
    border-radius: 3px;
}

.border-overflow {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.card-panel-pub, .card-panel {
    padding: 5px;
    margin: .5rem 0;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    -webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.06);
}

.searchicono {
    top: -10px !important;
    left: 5px !important;
}

.card-image {
    position: relative;
}

.card-image1 {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-image: url("../img/001.jpg") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.card-image4 {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-image: url("../img/001.jpg") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.card-image2 {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background: rgb(0, 0, 0) !important;
}

.card-image3 {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background: rgb(255, 255, 255) !important;
}

.logoeditora {
    width: 200px;
}

.circulo {
    text-align: center;
    z-index: 10;
    position: absolute;
    background: rgba(0, 0, 0, 0.48);
    border-radius: 4px;
    height: 32px;
    font-size: 1.5em;
    line-height: 0px;
    right: 0;
    bottom: 0;
    font-size: .7rem !important;
    padding: 2px 3px !important;
    margin: 7px;
    color: #fff;
}

.collection a.collection-item {
    color: #424242;
    font-size: 1.1rem
}

    .collection a.collection-item:not(.active):hover {
        background-color: #c62928;
        color: white;
    }

.canalico {
    margin-right: 15px;
    font-size: 1.3rem !important;
}

.side-nav li > a > i.material-icons {
    margin-right: 8px;
}

.side-nav .collapsible-header {
    padding-left: 30px;
}

.side-nav {
    width: 280px;
}

.carousel4-caption {
    position: absolute;
    bottom: 0;
    z-index: 10;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.67);
    width: 50%;
    height: 100%;
    padding: 0 8px;
}

    .carousel4-caption a {
        color: #fff;
        font-weight: 100;
        font-size: 1.2rem;
    }

.fixed {
    -webkit-box-shadow: 0px 8px 10px -4px rgba(50, 50, 50, 0.33);
    -moz-box-shadow: 0px 8px 10px -4px rgba(50, 50, 50, 0.33);
    box-shadow: 0px 8px 10px -4px rgba(50, 50, 50, 0.33);
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    left: 0;
    text-align: center;
    background: #ffffff !important;
}

.line-height a {
    line-height: 25px !important;
}

.opacity:hover {
    opacity: 0.9;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
}

.opacity1:hover {
    opacity: 0.9;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
}

.opacity2 {
    opacity: 0.9;
    filter: alpha(opacity=50);
    /* For IE8 and earlier */
}

.underline a:hover {
    border-bottom: 1px solid #9e8b8b;
    color: #802d2d;
}

.underline a {
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 0.87);
}

.underlinewhite a:hover {
    border-bottom: 1px solid #4e4e4e;
    color: #4e4e4e;
}

.underlinewhite a {
    border-bottom: 1px solid rgba(238, 238, 238, 0);
    color: #4e4e4e;
}

.imgbackground {
    display: inline-block;
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    margin: 0;
}

.shadonnone {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.widthnone {
    width: initial;
}

.blocktitulo {
    padding: 10px;
    margin: 0 0 10px 0;
}

.margin-bottom10 {
    margin-bottom: 10px;
    padding: 0 12px !important;
}

.border-radius-white {
    background: white;
    border-radius: 3px;
}

.margintop-10 {
    margin-top: -10px !important;
}

.red.darken-5 {
    background-color: #8b1014 !important;
    box-shadow: inset 0px -6px 13px 0px rgba(0, 0, 0, 0.22);
}

.paddingtop10 {
    padding-top: 10px;
}

.footershadon {
    box-shadow: 0px 13px 50px 15px rgba(0, 0, 0, 0.1);
}

.bolt {
    font-weight: 600;
}

.normal {
    font-weight: 300;
}

.heightnota {
    height: 250px;
}

.video {
    height: 28px;
    line-height: 28px;
}

.iframeaside {
    width: 100%;
    height: 110px;
    margin: 0;
}

.leyenda {
    font-size: .8rem;
}

.fullwidth {
    width: 100%;
}

.backgroundnone {
    background: none;
}

.navshadon {
    background: #f0f0f0 !important;
    box-shadow: inset 0 0 12px 4px rgba(0, 0, 0, 0.19);
}

.border8 {
    border: 8px solid #fff;
}

/* //////////////// RESET //////////////// */
.card-panel.white.padding5 {
    padding: 0 !important;
}

.row {
    margin: 0 !important;
}

    .row .col {
        padding: 0 0.5rem;
    }

i.right {
    margin-left: 3px;
}

i.material-icons {
    font-size: 1.5rem !important;
}

i.iconredes.waves-effect.material-icons {
    font-size: 1rem !important;
}

i.red-text.text-darken-3.material-icons.dp48 {
    font-size: 1rem !important;
}

h4.underline.truncateseccion {
    font-size: 1.1rem;
}

li.underline a {
    font-size: 1rem;
    font-weight: 300 !important;
}

.left-align.fz08 li.underline {
    font-size: 1rem;
    line-height: 20px;
}

h3.red-text.text-darken-3 {
    font-size: 1.7rem;
}

.row.valign-wrapper {
    padding: 10px;
}

.collection.with-header .collection-item {
    padding: 10px 0;
}

nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
    height: 40px;
    line-height: 40px;
}

.nav-wrapper .input-field input[type=search] {
    padding-left: 2rem;
}

.input-field {
    margin-top: 5px;
}

input[type=search]:not(.browser-default) {
    margin-bottom: 7px;
}

    input[type=search]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.card-panel.white.padding20.grey.darken-4 {
    border-bottom: 7px #c62928 solid;
}

h3.col.s6.m12.l12.xl12.underline.truncate3 {
    margin-top: 10px !important;
}

.col.xl12.no-padding .col.s12.m12.l12.xl12.no-padding {
    margin-bottom: 0px !important;
}

.col.s12.m12.l3.xl4.no-padding {
    text-align: right;
}

.col.xl12.no-padding600.columna.linknotas {
    font-size: 1.3rem !important;
}

p.left-align.fz08.margin-top-bot20.modificado {
    font-size: 1rem !important;
    line-height: 20px;
    font-style: italic;
}

.carousel2-inner .foto.foto6-4.black .fotoposicion a {
    width: 100% !important;
}

.col.s6.m12.l12.xl12.no-padding .fotoposicion {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.col.s12.m12.l6.xl6.no-padding .fotoposicion {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.card-panel.white.no-padding .fotoposicion {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.col.s12.hide-on-med-and-down.nopadding.hoverable.margin10.center {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a.dropdown-button, .displaynone1550 a {
    font-weight: 300;
}

.btn.red.darken-5.lighten-3.white-text.waves-effect.truncate.z-depth-0.paddinglateral10 {
    font-weight: 200;
}

i.red-text.text-darken-3.material-icons.dp48 {
    margin-right: 6px;
}

.col.s4.right-align a {
    font-weight: 400;
}

.col.l3.xl3 ul li a {
    font-weight: 400;
}

.col.s6.m3.l3.xl3.gallary-item.no-padding {
    padding: 3px !important;
}

    .col.s6.m3.l3.xl3.gallary-item.no-padding img {
        border-radius: 5px;
    }

h3.col.xl12.left-align.underline.truncate2.margin-top-bot {
    margin: 8px 0px !important;
    font-size: .9rem !important;
}
/* //////////////// NUEVOS //////////////// */
.card-panel.white {
    padding: 0;
}

.tabs2 {
    text-align: center;
}

    .tabs2 a.active {
        color: #c62828;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: 500;
    }

h3 strong {
    font-size: 1.4rem;
}

strong h3 {
    font-size: 1.4rem;
}

li.underline a {
    font-weight: 400 !important;
}

ol li a {
    font-weight: 400;
}

.collection a {
    font-weight: 400;
}

.titularessecciones a {
    color: #919191;
    font-weight: 300;
}

.papa {
    background-image: url("../img/papa1.png");
    background-position: 230px 0px;
    background-repeat: no-repeat, repeat;
}

footer.white.footershadon {
    z-index: 3;
    position: relative;
}

.margin10 {
    margin: 10px !important;
}

.containerfull {
    width: 100%;
    max-width: 1800px !important;
    margin: auto;
}

.imgfull {
    right: 0;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
}

.colorbicentenario {
    background: #E10600;
}

.logobicentenario {
    max-width: 246px !important;
    width: 100% !important;
}

.inlineblock {
    display: inline-block;
    padding: 10px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.rightfull {
    right: 0 !important;
}

.fuente13 {
    font-size: 1.3rem;
}

.btndescarga {
    border: 1px solid #c10a0a;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    vertical-align: central;
    display: inline-block;
}

    .btndescarga:hover {
        background-color: #c10a0a;
        color: #fff;
    }

.container-large {
    width: 100%;
    max-width: 1400px !important;
    margin: auto;
}

.envivo {
    color: #c62827;
    border: solid 1px #c62827;
    padding: 5px 10px;
    border-radius: 5px;
}

.collection .collection-item.active {
    background-color: #c62827;
    color: white;
}

.inline {
    display: inline;
}

.naveg {
    margin: 10px 0;
}

    .naveg p {
        font-size: 2rem !important;
        margin: 0px;
    }

    .naveg i {
        font-size: 3rem !important;
        color: #a0a0a0;
    }

a.linknaveg {
    color: #a0a0a0;
    font-weight: 400;
}

    a.linknaveg:hover {
        color: #c6342d;
        font-weight: 400;
    }
/* ////// PADDING ////// */
.paddinglat5 {
    padding: 0 5% !important;
}

.paddinglateral5 {
    padding: 0 5px !important;
}

.paddinglateral10 {
    padding: 0 10px !important;
}

.paddinglateral20 {
    padding: 0 20px !important;
}

.paddinglateral {
    padding: 0 20px !important;
}

.paddinglateral8 {
    padding: 15px 8px !important;
}

.padding0 {
    padding: 0 !important;
}

.padding5 {
    padding: 5px !important;
}

.padding10 {
    padding: 10px !important;
}

.padding20 {
    padding: 20px !important;
}

.padding-top-bot {
    padding: 5px 0;
}

.margin0 {
    margin: 0 !important;
}

.margintop3 {
    margin-top: 3px;
}

.margintop {
    margin-top: 7px;
}

.margintop20 {
    margin-top: 20px;
}

.marginbottom {
    margin-bottom: 0 !important;
}

.marginbottom5 {
    margin-bottom: 5px !important;
}

.marginbottom8 {
    margin-bottom: 8px !important;
}

.marginbottom15 {
    margin-bottom: 15px !important;
}

.margintopbottom5 {
    margin: 5px 0 !important;
}

.margintopbottom10 {
    margin: 10px 0 !important;
}

.margintopbottom15 {
    margin: 15px 0 !important;
}

.margintopbottom20 {
    margin: 20px 0 !important;
}

.margintopbottom25 {
    margin: 25px 0 !important;
}

.margintopbottom30 {
    margin: 30px 0 !important;
}

.margintopbottom35 {
    margin: 35px 0 !important;
}

.margintopbottom40 {
    margin: 40px 0 !important;
}

.margin-top-bot {
    margin: 8px 0;
}

.margin-top-bot15 {
    margin: 0 0 15px 0;
}

.margin-top-bot16 {
    margin: 16px 0;
}

.marginlaterales {
    margin: 0 3px;
}

.marginright {
    margin-right: 5px;
}

.marginright8 {
    margin-right: 8px !important;
}

.marginh2 {
    margin: 0px;
}

/* //////////////// FUENTES //////////////// */
.fz06 {
    font-size: .6rem !important
}

.fz07 {
    font-size: .7rem !important
}

.fz08 {
    font-size: .8rem !important;
    line-height: 16px;
}

.fz09 {
    font-size: .9rem !important
}

.fz10 {
    font-size: 1rem !important
}

.fz11 {
    font-size: 1.1rem !important
}

.fz12 {
    font-size: 1.2rem !important
}

.fz13 {
    font-size: 1.3rem !important
}

.fz14 {
    font-size: 1.4rem !important
}

.fz15 {
    font-size: 1.5rem !important
}

.fz16 {
    font-size: 1.6rem !important
}

.fz17 {
    font-size: 1.7rem !important
}

.fz18 {
    font-size: 1.8rem !important
}

.fz19 {
    font-size: 1.9rem !important
}

.fz20 {
    font-size: 2rem !important
}

.fz21 {
    font-size: 2.1rem !important
}

.fz22 {
    font-size: 2.2rem !important
}

.fz23 {
    font-size: 2.3rem !important
}

.fz24 {
    font-size: 2.4rem !important
}

.fz25 {
    font-size: 2.5rem !important
}

.fz26 {
    font-size: 2.6rem !important
}

.fz27 {
    font-size: 2.7rem !important
}

.fz28 {
    font-size: 2.8rem !important
}

.fz29 {
    font-size: 2.9rem !important
}

.fz30 {
    font-size: 3rem !important
}

.fz31 {
    font-size: 3.1rem !important
}

.fz32 {
    font-size: 3.2rem !important
}

.fz33 {
    font-size: 3.3rem !important
}

.fz34 {
    font-size: 3.4rem !important
}

.fz35 {
    font-size: 3.5rem !important
}

.fz36 {
    font-size: 3.6rem !important
}

.fz37 {
    font-size: 3.7rem !important
}

.fz38 {
    font-size: 3.8rem !important
}

.fz39 {
    font-size: 3.9rem !important
}

.fz40 {
    font-size: 4rem !important
}

.fw900 {
    font-weight: 900 !important;
}

.fw800 {
    font-weight: 800 !important;
}

.fw700 {
    font-weight: 700 !important;
}

.fw600 {
    font-weight: 600 !important;
}

.fw500 {
    font-weight: 500 !important;
}

.fw400 {
    font-weight: 400 !important;
}

.fw300 {
    font-weight: 300 !important;
}

.fw200 {
    font-weight: 200 !important;
}

.fw100 {
    font-weight: 100 !important;
}

.lh06 {
    line-height: .6rem
}

.lh07 {
    line-height: .7rem
}

.lh08 {
    line-height: .8rem
}

.lh09 {
    line-height: .9rem
}

.lh10 {
    line-height: 1rem
}

.lh11 {
    line-height: 1.1rem
}

.lh12 {
    line-height: 1.2rem
}

.lh13 {
    line-height: 1.3rem
}

.lh14 {
    line-height: 1.4rem
}

.lh15 {
    line-height: 1.5rem
}

.lh16 {
    line-height: 1.6rem
}

.lh17 {
    line-height: 1.7rem
}

.lh18 {
    line-height: 1.8rem
}

.lh19 {
    line-height: 1.9rem
}

.lh20 {
    line-height: 2rem
}

.lh21 {
    line-height: 2.1rem
}

.lh22 {
    line-height: 2.2rem
}

.lh23 {
    line-height: 2.3rem
}

.lh24 {
    line-height: 2.4rem
}

.lh25 {
    line-height: 2.5rem
}

.lh26 {
    line-height: 2.6rem
}

.lh27 {
    line-height: 2.7rem
}

.lh28 {
    line-height: 2.8rem
}

.lh29 {
    line-height: 2.9rem
}

.lh30 {
    line-height: 3rem
}

.lh31 {
    line-height: 3.1rem
}

.lh32 {
    line-height: 3.2rem
}

.lh33 {
    line-height: 3.3rem
}

.lh34 {
    line-height: 3.4rem
}

.lh35 {
    line-height: 3.5rem
}

.lh36 {
    line-height: 3.6rem
}

.lh37 {
    line-height: 3.7rem
}

.lh38 {
    line-height: 3.8rem
}

.lh39 {
    line-height: 3.9rem
}

.lh40 {
    line-height: 4rem
}

/* //////////////// FECHERO //////////////// */
.fechero {
    background: #b71c1d;
    padding: 5px;
    top: 8px;
    font-size: .7rem;
    position: absolute;
    z-index: 10;
    color: white;
    right: 0;
    text-align: center;
    margin: 0 20px !important;
}

    .fechero:before {
        content: "";
        position: absolute;
        bottom: -1em;
        left: 0;
        width: 0;
        height: 0;
        border-top: 1em solid #b71c1d;
        border-right: 4.5em solid transparent;
    }

    .fechero:after {
        content: "";
        position: absolute;
        bottom: -1em;
        right: 0;
        width: 0;
        height: 0;
        border-top: 1em solid #b71c1d;
        border-left: 4.5em solid transparent;
    }
/* ////// TRUNCATE ////// */
.truncate1 {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 1;
    -ms-line-clamp: 1;
    -webkit-box-orient: vertical;
    -ms-flex-orient: vertical;
    overflow: hidden;
    width: 100%;
    white-space: inherit;
}

.truncate2 {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 2;
    -ms-line-clamp: 2;
    -webkit-box-orient: vertical;
    -ms-flex-orient: vertical;
    overflow: hidden;
    width: 100%;
    white-space: inherit;
}

.truncate3 {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 3;
    -ms-line-clamp: 3;
    -webkit-box-orient: vertical;
    -ms-flex-orient: vertical;
    overflow: hidden;
    width: 100%;
    white-space: inherit;
    height: 59px;
    padding: 0 12px !important;
}

.truncateseccion {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 3;
    -ms-line-clamp: 3;
    -webkit-box-orient: vertical;
    -ms-flex-orient: vertical;
    overflow: hidden;
    width: 100%;
    white-space: inherit;
    height: 59px;
    padding: 0 12px !important;
}

.truncate4 {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 4;
    -ms-line-clamp: 4;
    -webkit-box-orient: vertical;
    -ms-flex-orient: vertical;
    overflow: hidden;
    width: 100%;
    white-space: inherit;
}

.truncate5 {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 5;
    -ms-line-clamp: 5;
    -webkit-box-orient: vertical;
    -ms-flex-orient: vertical;
    overflow: hidden;
    width: 100%;
    white-space: inherit;
}

.truncate6 {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 6;
    -ms-line-clamp: 6;
    -webkit-box-orient: vertical;
    -ms-flex-orient: vertical;
    overflow: hidden;
    width: 100%;
    white-space: inherit;
}

.truncate7 {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 7;
    -ms-line-clamp: 7;
    -webkit-box-orient: vertical;
    -ms-flex-orient: vertical;
    overflow: hidden;
    width: 100%;
    white-space: inherit;
}

.truncate8 {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 8;
    -ms-line-clamp: 8;
    -webkit-box-orient: vertical;
    -ms-flex-orient: vertical;
    overflow: hidden;
    width: 100%;
    white-space: inherit;
}

.truncate9 {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-line-clamp: 9;
    -ms-line-clamp: 9;
    -webkit-box-orient: vertical;
    -ms-flex-orient: vertical;
    overflow: hidden;
    width: 100%;
    white-space: inherit;
}
/* //////////////// CAJAS FOTOGRAFICAS //////////////// */
.foto {
    position: relative;
    overflow: hidden;
}

.fotoposicion {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.foto:before {
    content: '';
    display: block;
}

.foto4-5:before {
    padding-top: 120%;
}

.foto4-6:before {
    padding-top: 150%;
}

.foto6-3:before {
    padding-top: 53%;
}

.foto6-2:before {
    padding-top: 33%;
}

.foto6-4:before {
    padding-top: 66.5%;
}

.foto6-6:before {
    padding-top: 100%;
}
/* //////////////// PUBLICIDAD //////////////// */
.publicidad_gobiernodelperu {
    margin: 0 0 10px;
    width: auto;
    background-image: url("../img/back_gobierno.jpg");
    height: 116px;
    background-repeat: no-repeat;
    text-align: left;
    color: #fff;
}

    .publicidad_gobiernodelperu p {
        margin: auto;
        width: auto;
        padding: 6px 7px;
        font-weight: 700;
        font-size: 1.2em;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-bottom: 0p;
        margin-bottom: 0;
        margin-bottom:;
    }

    .publicidad_gobiernodelperu ul li {
        margin: auto;
        width: auto;
        padding: 1px 7px;
        list-style: none;
        color: #ffffff !important;
        padding: 0;
        font-size: .8rem;
        margin-left: 5px;
    }

    .publicidad_gobiernodelperu a {
        color: #ffffff !important;
    }

    .publicidad_gobiernodelperu
    ul {
        margin: 0;
    }
/* //////////////// WRAPPER PUBLICIDAD //////////////// */
.wrapperpublicidadfixed {
    margin: auto;
    position: relative;
    clear: both;
    display: block;
}

.wrapperpublicidad {
    overflow: hidden;
    position: static;
}

.wrapperavisoslateral {
    position: fixed;
    z-index: 3
}

    .wrapperavisoslateral #adsFull {
        position: fixed;
        z-index: -1;
        left: 0;
        width: 100%;
        height: 100%
    }

    .wrapperavisoslateral .avisositem {
        text-align: center;
        z-index: 2 !important
    }

        .wrapperavisoslateral .avisositem a {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0
        }

        .wrapperavisoslateral .avisositem.avisoleft,
        .wrapperavisoslateral .avisositem.avisoright {
            position: fixed;
            width: 160px;
            height: 600px
        }

        .wrapperavisoslateral .avisositem.avisoleft {
            left: 50%;
            margin-left: -675px;
        }

        .wrapperavisoslateral .avisositem.avisoright {
            right: 50%;
            margin-right: -685px;
        }

.wrapperavisos.avisoleft,
.wrapperavisos.avisoright {
    position: absolute;
    width: 160px;
    height: 600px
}

.wrapperavisos.avisoleft {
    left: 49%;
    margin-left: -660px;
    margin-top: 10px;
}

.wrapperavisos.avisoright {
    right: 48.6%;
    margin-right: -660px;
    margin-top: 10px;
}
/* ///// PADDING /////// */
.no-padding {
    padding: 0 !important;
}

.no-paddingtop {
    padding-top: 0 !important;
}

.no-paddingbottom {
    padding-bottom: 0 !important;
}

.no-paddingleft {
    padding-left: 0 !important;
}

.no-paddingright {
    padding-right: 0 !important;
}

.padding1 {
    padding: 1px !important;
}

.padding2 {
    padding: 2px !important;
}

.padding3 {
    padding: 3px !important;
}

.padding4 {
    padding: 4px !important;
}

.padding5 {
    padding: 5px !important;
}

.padding6 {
    padding: 6px !important;
}

.padding7 {
    padding: 7px !important;
}

.padding8 {
    padding: 8px !important;
}

.padding9 {
    padding: 9px !important;
}

.padding10 {
    padding: 10px !important;
}

.padding15 {
    padding: 15px !important;
}

.padding20 {
    padding: 20px !important;
}

.padding25 {
    padding: 25px !important;
}

.padding30 {
    padding: 30px !important;
}

.padding35 {
    padding: 35px !important;
}

.padding40 {
    padding: 40px !important;
}

.paddingleft1 {
    padding-left: 1px !important;
}

.paddingleft2 {
    padding-left: 2px !important;
}

.paddingleft3 {
    padding-left: 3px !important;
}

.paddingleft4 {
    padding-left: 4px !important;
}

.paddingleft5 {
    padding-left: 5px !important;
}

.paddingleft6 {
    padding-left: 6px !important;
}

.paddingleft7 {
    padding-left: 7px !important;
}

.paddingleft8 {
    padding-left: 8px !important;
}

.paddingleft9 {
    padding-left: 9px !important;
}

.paddingleft10 {
    padding-left: 10px !important;
}

.paddingleft15 {
    padding-left: 15px !important;
}

.paddingleft20 {
    padding-left: 20px !important;
}

.paddingleft25 {
    padding-left: 25px !important;
}

.paddingleft30 {
    padding-left: 30px !important;
}

.paddingleft35 {
    padding-left: 35px !important;
}

.paddingleft40 {
    padding-left: 40px !important;
}

.paddingright1 {
    padding-right: 1px !important;
}

.paddingright2 {
    padding-right: 2px !important;
}

.paddingright3 {
    padding-right: 3px !important;
}

.paddingright4 {
    padding-right: 4px !important;
}

.paddingright5 {
    padding-right: 5px !important;
}

.paddingright6 {
    padding-right: 6px !important;
}

.paddingright7 {
    padding-right: 7px !important;
}

.paddingright8 {
    padding-right: 8px !important;
}

.paddingright9 {
    padding-right: 9px !important;
}

.paddingright10 {
    padding-right: 10px !important;
}

.paddingright15 {
    padding-right: 15px !important;
}

.paddingright20 {
    padding-right: 20px !important;
}

.paddingright25 {
    padding-right: 25px !important;
}

.paddingright30 {
    padding-right: 30px !important;
}

.paddingright35 {
    padding-right: 35px !important;
}

.paddingright40 {
    padding-right: 40px !important;
}

.paddinglat1 {
    padding: 0 1px !important;
}

.paddinglat2 {
    padding: 0 2px !important;
}

.paddinglat3 {
    padding: 0 3px !important;
}

.paddinglat4 {
    padding: 0 4px !important;
}

.paddinglat5 {
    padding: 0 5px !important;
}

.paddinglat6 {
    padding: 0 6px !important;
}

.paddinglat7 {
    padding: 0 7px !important;
}

.paddinglat8 {
    padding: 0 8px !important;
}

.paddinglat9 {
    padding: 0 9px !important;
}

.paddinglat10 {
    padding: 0 10px !important;
}

.paddinglat11 {
    padding: 0 11px !important;
}

.paddinglat15 {
    padding: 0 15px !important;
}

.paddinglat20 {
    padding: 0 20px !important;
}

.paddinglat25 {
    padding: 0 25px !important;
}

.paddinglat30 {
    padding: 0 30px !important;
}

.paddinglat35 {
    padding: 0 35px !important;
}

.paddinglat40 {
    padding: 0 40px !important;
}

.paddinglat40 {
    padding: 0 40px !important;
}

.paddingtopbottom1 {
    padding: 1px 0 !important;
}

.paddingtopbottom2 {
    padding: 2px 0 !important;
}

.paddingtopbottom3 {
    padding: 3px 0 !important;
}

.paddingtopbottom4 {
    padding: 4px 0 !important;
}

.paddingtopbottom5 {
    padding: 5px 0 !important;
}

.paddingtopbottom6 {
    padding: 6px 0 !important;
}

.paddingtopbottom7 {
    padding: 7px 0 !important;
}

.paddingtopbottom8 {
    padding: 8px 0 !important;
}

.paddingtopbottom9 {
    padding: 9px 0 !important;
}

.paddingtopbottom10 {
    padding: 10px 0 !important;
}

.paddingtopbottom15 {
    padding: 15px 0 !important;
}

.paddingtopbottom20 {
    padding: 20px 0 !important;
}

.paddingtopbottom25 {
    padding: 25px 0 !important;
}

.paddingtopbottom30 {
    padding: 30px 0 !important;
}

.paddingtopbottom35 {
    padding: 35px 0 !important;
}

.paddingtopbottom40 {
    padding: 40px 0 !important;
}

.paddingtop0 {
    padding-top: 0 !important;
}

.paddingtop1 {
    padding-top: 1px !important;
}

.paddingtop2 {
    padding-top: 2px !important;
}

.paddingtop3 {
    padding-top: 3px !important;
}

.paddingtop4 {
    padding-top: 4px !important;
}

.paddingtop5 {
    padding-top: 5px !important;
}

.paddingtop6 {
    padding-top: 6px !important;
}

.paddingtop7 {
    padding-top: 7px !important;
}

.paddingtop8 {
    padding-top: 8px !important;
}

.paddingtop9 {
    padding-top: 9px !important;
}

.paddingtop10 {
    padding-top: 10px !important;
}

.paddingtop11 {
    padding-top: 11px !important;
}

.paddingtop12 {
    padding-top: 12px !important;
}

.paddingtop13 {
    padding-top: 13px !important;
}

.paddingtop14 {
    padding-top: 14px !important;
}

.paddingtop15 {
    padding-top: 15px !important;
}

.paddingtop20 {
    padding-top: 20px !important;
}

.paddingtop25 {
    padding-top: 25px !important;
}

.paddingtop30 {
    padding-top: 30px !important;
}

.paddingtop35 {
    padding-top: 35px !important;
}

.paddingtop40 {
    padding-top: 40px !important;
}

.paddingbottom0 {
    padding-bottom: 0 !important;
}

.paddingbottom1 {
    padding-bottom: 1px !important;
}

.paddingbottom2 {
    padding-bottom: 2px !important;
}

.paddingbottom3 {
    padding-bottom: 3px !important;
}

.paddingbottom4 {
    padding-bottom: 4px !important;
}

.paddingbottom5 {
    padding-bottom: 5px !important;
}

.paddingbottom6 {
    padding-bottom: 6px !important;
}

.paddingbottom7 {
    padding-bottom: 7px !important;
}

.paddingbottom8 {
    padding-bottom: 8px !important;
}

.paddingbottom9 {
    padding-bottom: 9px !important;
}

.paddingbottom10 {
    padding-bottom: 10px !important;
}

.paddingbottom15 {
    padding-bottom: 15px !important;
}

.paddingbottom20 {
    padding-bottom: 20px !important;
}

.paddingbottom25 {
    padding-bottom: 25px !important;
}

.paddingbottom30 {
    padding-bottom: 30px !important;
}

.paddingbottom35 {
    padding-bottom: 35px !important;
}

.paddingbottom40 {
    padding-bottom: 40px !important;
}
/* ///// MARGIN /////// */
.marginauto {
    margin: auto !important;
}

.no-margin {
    margin: 0 !important;
}

.no-margintop {
    margin-top: 0 !important;
}

.no-marginbottom {
    margin-bottom: 0 !important;
}

.no-marginleft {
    margin-left: 0 !important;
}

.no-marginright {
    margin-right: 0 !important;
}

.margin1 {
    margin: 1px !important;
}

.margin2 {
    margin: 2px !important;
}

.margin3 {
    margin: 3px !important;
}

.margin4 {
    margin: 4px !important;
}

.margin5 {
    margin: 5px !important;
}

.margin6 {
    margin: 6px !important;
}

.margin7 {
    margin: 7px !important;
}

.margin8 {
    margin: 8px !important;
}

.margin9 {
    margin: 9px !important;
}

.margin10 {
    margin: 10px !important;
}

.margin15 {
    margin: 15px !important;
}

.margin20 {
    margin: 20px !important;
}

.margin25 {
    margin: 25px !important;
}

.margin30 {
    margin: 30px !important;
}

.margin35 {
    margin: 35px !important;
}

.margin40 {
    margin: 40px !important;
}

.marginleft1 {
    margin-left: 1px !important;
}

.marginleft2 {
    margin-left: 2px !important;
}

.marginleft3 {
    margin-left: 3px !important;
}

.marginleft4 {
    margin-left: 4px !important;
}

.marginleft5 {
    margin-left: 5px !important;
}

.marginleft6 {
    margin-left: 6px !important;
}

.marginleft7 {
    margin-left: 7px !important;
}

.marginleft8 {
    margin-left: 8px !important;
}

.marginleft9 {
    margin-left: 9px !important;
}

.marginleft10 {
    margin-left: 10px !important;
}

.marginleft15 {
    margin-left: 15px !important;
}

.marginleft20 {
    margin-left: 20px !important;
}

.marginleft25 {
    margin-left: 25px !important;
}

.marginleft30 {
    margin-left: 30px !important;
}

.marginleft35 {
    margin-left: 35px !important;
}

.marginleft40 {
    margin-left: 40px !important;
}

.marginleft70 {
    margin-left: 70px !important;
}

.marginright1 {
    margin-right: 1px !important;
}

.marginright2 {
    margin-right: 2px !important;
}

.marginright3 {
    margin-right: 3px !important;
}

.marginright4 {
    margin-right: 4px !important;
}

.marginright5 {
    margin-right: 5px !important;
}

.marginright6 {
    margin-right: 6px !important;
}

.marginright7 {
    margin-right: 7px !important;
}

.marginright8 {
    margin-right: 8px !important;
}

.marginright9 {
    margin-right: 9px !important;
}

.marginright10 {
    margin-right: 10px !important;
}

.marginright15 {
    margin-right: 15px !important;
}

.marginright20 {
    margin-right: 20px !important;
}

.marginright25 {
    margin-right: 25px !important;
}

.marginright30 {
    margin-right: 30px !important;
}

.marginright35 {
    margin-right: 35px !important;
}

.marginright40 {
    margin-right: 40px !important;
}

.marginlat1 {
    margin: 0 1px !important;
}

.marginlat2 {
    margin: 0 2px !important;
}

.marginlat3 {
    margin: 0 3px !important;
}

.marginlat4 {
    margin: 0 4px !important;
}

.marginlat5 {
    margin: 0 5px !important;
}

.marginlat6 {
    margin: 0 6px !important;
}

.marginlat7 {
    margin: 0 7px !important;
}

.marginlat8 {
    margin: 0 8px !important;
}

.marginlat9 {
    margin: 0 9px !important;
}

.marginlat10 {
    margin: 0 10px !important;
}

.marginlat15 {
    margin: 0 15px !important;
}

.marginlat20 {
    margin: 0 20px !important;
}

.marginlat25 {
    margin: 0 25px !important;
}

.marginlat30 {
    margin: 0 30px !important;
}

.marginlat35 {
    margin: 0 35px !important;
}

.marginlat40 {
    margin: 0 40px !important;
}

.marginlat40 {
    margin: 0 40px !important;
}

.margintopbottom1 {
    margin: 1px 0 !important;
}

.margintopbottom2 {
    margin: 2px 0 !important;
}

.margintopbottom3 {
    margin: 3px 0 !important;
}

.margintopbottom4 {
    margin: 4px 0 !important;
}

.margintopbottom5 {
    margin: 5px 0 !important;
}

.margintopbottom6 {
    margin: 6px 0 !important;
}

.margintopbottom7 {
    margin: 7px 0 !important;
}

.margintopbottom8 {
    margin: 8px 0 !important;
}

.margintopbottom9 {
    margin: 9px 0 !important;
}

.margintopbottom10 {
    margin: 10px 0 !important;
}

.margintopbottom15 {
    margin: 15px 0 !important;
}

.margintopbottom20 {
    margin: 20px 0 !important;
}

.margintopbottom25 {
    margin: 25px 0 !important;
}

.margintopbottom30 {
    margin: 30px 0 !important;
}

.margintopbottom35 {
    margin: 35px 0 !important;
}

.margintopbottom40 {
    margin: 40px 0 !important;
}

.margintop0 {
    margin-top: 0 !important;
}

.margintop1 {
    margin-top: 1px !important;
}

.margintop2 {
    margin-top: 2px !important;
}

.margintop3 {
    margin-top: 3px !important;
}

.margintop4 {
    margin-top: 4px !important;
}

.margintop5 {
    margin-top: 5px !important;
}

.margintop6 {
    margin-top: 6px !important;
}

.margintop7 {
    margin-top: 7px !important;
}

.margintop8 {
    margin-top: 8px !important;
}

.margintop9 {
    margin-top: 9px !important;
}

.margintop10 {
    margin-top: 10px !important;
}

.margintop15 {
    margin-top: 15px !important;
}

.margintop20 {
    margin-top: 20px !important;
}

.margintop25 {
    margin-top: 25px !important;
}

.margintop30 {
    margin-top: 30px !important;
}

.margintop35 {
    margin-top: 35px !important;
}

.margintop40 {
    margin-top: 40px !important;
}

.marginbottom0 {
    margin-bottom: 0 !important;
}

.marginbottom1 {
    margin-bottom: 1px !important;
}

.marginbottom2 {
    margin-bottom: 2px !important;
}

.marginbottom3 {
    margin-bottom: 3px !important;
}

.marginbottom4 {
    margin-bottom: 4px !important;
}

.marginbottom5 {
    margin-bottom: 5px !important;
}

.marginbottom6 {
    margin-bottom: 6px !important;
}

.marginbottom7 {
    margin-bottom: 7px !important;
}

.marginbottom8 {
    margin-bottom: 8px !important;
}

.marginbottom9 {
    margin-bottom: 9px !important;
}

.marginbottom10 {
    margin-bottom: 10px !important;
}

.marginbottom15 {
    margin-bottom: 15px !important;
}

.marginbottom20 {
    margin-bottom: 20px !important;
}

.marginbottom25 {
    margin-bottom: 25px !important;
}

.marginbottom30 {
    margin-bottom: 30px !important;
}

.marginbottom35 {
    margin-bottom: 35px !important;
}

.marginbottom40 {
    margin-bottom: 40px !important;
}
/* ////// @MEDIA ////// */
@media only screen and (max-width: 1200px) {
    .centrado {
        text-align: center;
    }

    .displaynone {
        display: none;
    }

    .avisositem {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .displaynone600 {
        display: none;
    }

    .faltan {
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 32px;
    }

    .olimpiadas {
        font-size: 1rem;
        line-height: 17px;
    }
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 2rem;
    }

    .no-padding600 {
        padding: 0 !important;
    }

    .faltan {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 700px) {
    .ciudadanoss-titulo2 {
        display: none;
        font-size: 9px;
        margin-bottom: 1px !important;
    }

    .naveg p {
        font-size: 1.5rem !important;
    }

    .naveg i {
        font-size: 2rem !important;
    }

    .titularessecciones {
        font-size: 1.5rem !important;
    }

    .titularh1 {
        font-size: 1.6rem !important;
    }

    .faltan {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 30px;
    }

    .olimpiadas {
        font-size: 1rem;
        line-height: 17px;
    }
}

@media only screen and (max-width: 600px) {
    .logobicentenario2 {
        width: 50px;
    }

    .naveg p {
        font-size: 1.5rem !important;
    }

    .naveg i {
        font-size: 1.7rem !important;
    }

    h2.col.s6.m6.l6.xl6.underline.truncate7.margin-top-bot.paddinglateral10.bolt.fz18 {
        line-height: 20px;
        font-size: 1.2rem !important;
        font-weight: 500;
        padding-top: 10px !important;
        margin: 0;
    }

    .carousel2-item {
        display: block;
    }

    .col.s12.m6.l6.xl6.no-padding.right-align {
        text-align: left;
    }

    .asidepublicidad {
        display: none;
    }

    h2 {
        font-size: 1.3rem;
    }

    blockquote {
        font-size: 1.5rem;
        line-height: 28px;
    }

    .paddinglateral5 {
        padding: 0 5px !important;
    }

    .truncateseccion {
        -webkit-line-clamp: 3;
        -ms-line-clamp: 3;
        height: initial;
        padding: 0 12px !important;
    }

    .truncate3 {
        -webkit-line-clamp: 5;
        -ms-line-clamp: 5;
        height: 63px;
        margin: 5px 0 !important;
    }

    .fz14 {
        font-size: 1.2rem !important
    }

    h4.underline.truncateseccion {
        padding: 0 !important;
    }

    .row .col.ss1 {
        width: 4.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    .row .col.ss2 {
        width: 6.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    .row .col.ss3 {
        width: 15%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    .row .col.ss4 {
        width: 23.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    .row .col.ss5 {
        width: 38.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    .row .col.ss6 {
        width: 40%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    .row .col.ss7 {
        width: 60.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    .row .col.ss8 {
        width: 56.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    .row .col.ss9 {
        width: 65%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    .row .col.ss10 {
        width: 73.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    .row .col.ss11 {
        width: 81.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }

    .row .col.ss12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}

@media only screen and (max-width: 510px) {
    .ciudadanoss-titulo1 {
        display: none;
    }

    .ciudadanoss-titulo2 {
        display: inline-block;
    }
}

@media only screen and (max-width: 400px) {
    h3 {
        font-size: 1rem;
    }

    .faltan {
        font-size: .9rem;
        line-height: 16px;
    }

    .olimpiadas {
        font-size: .7rem;
        line-height: 12px;
    }
}

@media only screen and (max-width: 442px) {
    .faltan {
        font-size: 1rem;
        line-height: 16px;
    }

    .olimpiadas {
        font-size: .7rem;
        line-height: 12px;
    }

    .pananone {
        display: none !important;
    }
}

@media only screen and (min-width: 442px) {
    .pananoneonline {
        display: none;
    }
}

@media only screen and (max-width: 354px) {

    .faltan {
        font-size: .9rem;
        line-height: 16px;
    }

    .olimpiadas {
        font-size: .7rem;
        line-height: 12px;
    }
}

@media only screen and (max-width: 325px) {
    .faltan {
        font-size: .8rem;
        line-height: 16px;
    }

    .olimpiadas {
        font-size: .6rem;
        line-height: 10px;
    }
}

@media print {
    .carousel2 {
        height: 300px;
        overflow: hidden;
        margin-bottom: 30px;
        border: solid 2px #ccc;
    }

    footer, nav, header, .print, .divider {
        display: none;
    }

    h1 {
        font-size: 2rem;
        width: 100% !important;
        display: inline-block;
        margin-bottom: 10px;
    }

    p {
        font-size: 1rem;
    }

    blockquote {
        font-size: 1rem;
    }

    .columna {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }

    .col.xl12.no-padding600.columna.linknotas {
        font-size: 1.2rem !important;
    }

    .section.red.darken-5.center.hide-on-large-only {
        display: none;
    }

    .section.red.darken-5.center.hide-on-med-and-down {
        display: none;
    }

    nav.red.darken-3.hide-on-large-only.valign-wrapper {
        display: none;
    }

    .col.s12.m12.l3.xl4.no-padding {
        display: none;
    }

    .card-panel.margin-top-bot16.padding20 {
        display: none;
    }

    .col.s12.m12.l12.xl12.no-padding {
        display: none;
    }

    nav.white1.hide-on-med-and-down.red.darken-3.marginbottom8 {
        display: none;
    }

        nav.white1.hide-on-med-and-down.red.darken-3.marginbottom8.fixed {
            display: none;
        }
}
